<p id="notice"><%= notice %></p>

<h1>Listing Homeowner Reviews</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rating</th>
      <th>Source user</th>
      <th>Source company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeowner_reviews.each do |homeowner_review| %>
      <tr>
        <td><%= homeowner_review.user_id %></td>
        <td><%= homeowner_review.rating %></td>
        <td><%= homeowner_review.source_user_id %></td>
        <td><%= homeowner_review.source_company_id %></td>
        <td><%= link_to 'Show', homeowner_review %></td>
        <td><%= link_to 'Edit', edit_homeowner_review_path(homeowner_review) %></td>
        <td><%= link_to 'Destroy', homeowner_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homeowner review', new_homeowner_review_path %>
