<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @homeowner_review.user_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @homeowner_review.rating %>
</p>

<p>
  <strong>Source user:</strong>
  <%= @homeowner_review.source_user_id %>
</p>

<p>
  <strong>Source company:</strong>
  <%= @homeowner_review.source_company_id %>
</p>

<%= link_to 'Edit', edit_homeowner_review_path(@homeowner_review) %> |
<%= link_to 'Back', homeowner_reviews_path %>
